#key .slider1 {
  background: url(../img/index/slide1.jpg) no-repeat right top / cover;
}
#key .slider2 {
  background: url(../img/index/slide2.jpg) no-repeat right top / cover;
}
#games {
  padding: 60px 20px 30px;
  box-sizing: border-box;
}
#games .flbox {
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  margin-bottom: 70px;
}
#games .item {
  display: flex;
  flex-direction: column;
  max-width: 345px;
  filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.25));
  background: #fff;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}
#games .item:hover {
  transform: scale(1.1);
}
#games .item > p.img {
  border-radius: 20px 20px 0 0;
  height: 345px;
  width: 345px;
  overflow: hidden;
}
#games .item > p.img img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}
#games .item .content {
  padding: 21px;
}
#games .item figure {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 21px;
}
#games .item figure img {
  border-radius: 8px;
  height: 80px;
  width: 80px;
}
#games .item figure figcaption h3 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}
#games .item .download {
  display: flex;
  justify-content: space-between;
}
#games .item .download p.btn {
  width: 48%;
}
#games .item .download p.btn a {
  display: flex;
  align-items: center;
  width: 100%;
  background: #e9ecef;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 0.3s ease;
}

#games .item .download p.btn a img {
  width: 35px;
  height: auto;
  margin-right: 8px;
}
#games .item .download p.btn a span {
  white-space: nowrap;
}

#contact {
  text-align: center;
  background: #ededed;
  padding: 70px 0;
}
#contact h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

#contact .flbox {
  justify-content: center;
  gap: 50px;
}
#contact p.btn {
  width: 50px;
}
#contact p.btn a {
  transition: all 0.3s ease;
}
#contact p.btn img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1100px) and (max-width: 1240px) {
  #games .flbox {
    gap: 4vw;
  }
  #games .item {
    max-width: 29vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 815px) {
  #games .item {
    max-width: 44vw;
  }
  #games .flbox {
    gap: 5vw;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  #games .item:hover {
    transform: none;
  }
}

@media screen and (max-width: 767px) {
  #key .slider1 {
    background-position: center center;
  }
  #key .slider2 {
    background-position: right -45vw center;
  }
  #games {
    padding: 15vw 6vw;
  }
  #games .item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 12vw;
  }
  #games .item:hover {
    transform: none;
  }
  #games .item:last-child {
    margin-bottom: 0;
  }
  #games .flbox {
    margin-bottom: 0;
  }
  #games .item .content {
    padding: 5vw;
  }
  #games .item figure img {
    width: 21vw;
    height: auto;
  }
  #games .item figure {
    gap: 4vw;
    margin-bottom: 5vw;
  }
  #games .item figure figcaption h3 {
    font-size: 4.5vw;
  }
  #games .item figure figcaption p {
    font-size: 4vw;
  }
  #games .item .download p.btn a img {
    width: 9vw;
    margin-right: 2vw;
  }
  #games .item .download p.btn a span {
    font-size: 4vw;
  }
  #games .item > p.img {
    width: 100%;
    height: auto;
  }
  #contact {
    padding: 15vw 6vw;
  }
  #contact h2 {
    font-size: 9vw;
    margin-bottom: 12vw;
  }
  #contact .flbox {
    display: flex;
    gap: 10vw;
  }
  #contact p.btn {
    width: 11vw;
  }
}
